<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {{define "title"}}About{{end}}
</head>
<body> 
<header>
   <h1>Skill<em>Route</em></h1>
</header>
    {{define "main"}}
    <h3>Welcome to the About Page</h3>
    {{end}}
    <footer></footer>
</body>
