{{define "title"}}Create Quiz{{end}}

{{define "main"}}
    <h2>Create a New Quiz</h2>
    <form action="/quizzes/create" method="POST">
        <div>
            <label for="skill">Skill:</label>
            <input type="text" id="skill" name="skill" required>
        </div>
        <div>
            <label for="quiz">Quiz:</label>
            <textarea id="quiz" name="quiz" rows="5" required></textarea>
        </div>
        <div>
        <button type="submit">Create Quiz</button>
        </div>
    </form>
{{end}}