
{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Quizzes</h2>
    {{if .Quizzes}}
    <table>
            <tr>
                <th>ID</th>
                <th>Skill</th>
                <th>Created</th>
            </tr>
            {{range .Quizzes}}
            <tr>
                <td><a href="/quizzes/view/{{.ID}}">#{{.ID}}</a></td>
                <td>{{.Skill}}</td>
                <td>{{.Created}}</td>
            </tr>
            {{end}}
    </table>
    {{else}}
      <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}

