{{define "title"}}Quiz #{{.Quizz.ID}}{{end}}
{{define "main"}}
    {{with .Quizz}}
    <div class='quiz'>
        <div class='metadata'>
            <strong>{{.Skill}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Quiz}}</code></pre>
        <div class='metadata'>
            <time>Created: {{.Created}}</time>
        </div>
    </div>
    {{end}}
{{end}}