*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Lato", sans-serif;

}
header {
    background-image: -webkit-linear-gradient(left, #800080, #800080 25%, #800080 25%, #800080 35%, #34495e 35%, #34495e 45%, #34495e 45%, #34495e 55%, #34495e 55%, #34495e 65%, #800080 65%, #800080 75%, #800080 85%, #800080 85%, #800080 85%, #800080 100%);
    background-image: -moz-linear-gradient(left, #800080, #800080 25%, #800080 25%, #800080 35%, #34495e 35%, #34495e 45%, #34495e 45%, #34495e 55%, #34495e 55%, #34495e 65%, #800080 65%, #800080 75%, #800080 85%, #800080 85%, #800080 85%, #800080 100%);
    background-image: -ms-linear-gradient(left, #800080, #800080 25%, #800080 25%, #800080 35%, #34495e 35%, #34495e 45%, #34495e 45%, #34495e 55%, #34495e 55%, #34495e 65%, #800080 65%, #800080 75%, #800080 85%, #800080 85%, #800080 85%, #800080 100%);
    background-image: linear-gradient(to right, #800080, #800080 25%, #800080 25%, #800080 35%, #34495e 35%, #34495e 45%, #34495e 45%, #34495e 55%, #34495e 55%, #34495e 65%, #800080 65%, #800080 75%, #800080 85%, #800080 85%, #800080 85%, #800080 100%);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #E4E5E7;
    overflow: auto;
    padding-top: 33px;
    padding-bottom: 27px;
    text-align: center;
}

h1{
    font-size: 36px;
    color: #800080;
    em{
        color: #34495e;
        font-size: 36px;
    }
}
nav a{
    text-decoration: none;
    color: #3a4f64;
    font-size: 18px;
    gap: 20px;
    padding: 10px;
    background-color: #E4E5E7;
    &:hover{
        color: #800080;
        text-decoration: underline;
    }
}
main{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3{
        color: #34495e;
        margin-bottom: 20px;
    }
    img{
        max-width: 200px;
        display: none;
    }
}
.toggle-input{
    display: none;
}
.toggle-button{
    display: inline-block;
    padding: 10px 20px;
    width: 200px;
    font-size: 18px;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #3a4f64;
    }
}
.toggle-input:checked ~ .image-wrapper .target-logo {
    display: block;
}
form{
    padding: 20px;
    max-width: 1000px;
    background-color: #f8ddf8;
    border-radius: 12px;
}
.form-group {
    margin-bottom: 15px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box; 
}
button {
    background-color: #34495e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.quiz{
    background-color: #ffffff;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}
.quiz pre {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
}
.quiz .metadata{
    background-color: #f7f9fa;
    color: #6a6c6f;
    padding: 0.75em 18px;
    overflow: auto;
}
.quiz .metadata span{
    float: right;
}
.quiz .metadata strong{
    color: #34495e;
}
.quiz .metadata time{
    display: inline-block;
}
.quiz .metadata time:first-child{
    float: left;
}
.quiz .metadata time:last-child{
    float: right;
}
table{
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    text-align: left;
    padding: 9px 18px;
}
th:last-child, td:last-child{
    text-align: right;
    color: #6a6c6f;
}
form label {
    display: inline-block;
    margin-bottom: 9px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}
